<!doctype html>
<html>
    <head>
        <style>
            .body{
                text-align: center;
            }
            .text{
                color: #4CAF50;
                font-size: 45px;
                font-style: verdana;
                font-weight: bold;
            }
        </style>
    </head>
    <body class="body">
        {% block body %}
        <p class="text">Your data is incorrect !</p>
        </form>

        {% endblock %}
    </body>
</html>